@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  @keyframes nav-start {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes nav-exit {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-100%);
    }
  }

  --color-background: oklch(10% 0.02 250);
  /* çok koyu lacivert-gri */
  --color-foreground: oklch(95% 0.01 250);
  /* açık metin */
  
  --color-primary: oklch(58% 0.23 28);
  /* dark mavi (ANA renk) */
  --color-secondary: oklch(75% 0.02 260);
  /* cyan (canlı kontrast) */
  --color-third:  oklch(70% 0.18 240);
  /* mor-mavi (accent) */ 
  --color-success: oklch(65% 0.25 135);
  /* yeşil (doğrulama) */
  --color-info: oklch(72% 0.20 250);
  /* açık mavi (bilgilendirme) */
  --color-danger: oklch(55% 0.28 25);
  /* kırmızı (alert/uyarı) */
  
  --font-exo:  "Exo 2", sans-serif;
  --font-orbitron:  "Orbitron", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-foreground-less-op: rgb(234, 239, 245,0.1);
  --animate-nav-animate: nav-start 0.4s ease ;
  --animate-text-shadow: text-shadow 0.4s ease ;
  --animate-nav-exit: nav-exit 0.4s ease ;

  --breakpoint-xs: 400px;
  --breakpoint-xls: 550px;
  --breakpoint-2xl: 1400px;

  --container-padding: 1rem;
}


/* 
@layer theme {
  .dark {
    --color-background: oklch(8% 0.015 250);
    --color-foreground: oklch(96% 0.005 250);

    --color-primary: oklch(50% 0.22 15);   
    --color-secondary: oklch(45% 0.17 250);
    --color-third: oklch(65% 0.20 140);     
    --color-success: oklch(70% 0.28 135);   
    --color-info: oklch(72% 0.20 250);      
    --color-danger: oklch(55% 0.28 25);     
  }
}
*/



@layer base {

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }

  body {
    @apply bg-background font-exo text-foreground transition-colors;
  }

  html{
    scroll-behavior: smooth;
  }
  .container {
    @apply max-sm:px-[var(--container-padding)] mx-auto max-sm:!max-w-full
  }
}

@layer components {
  .sec-title {
    @apply flex items-center justify-center
    before:mask-luminance before:mask-l-from-foreground before:mask-l-from-50% before:mask-l-to-background
    before:inline-block  before:me-2 before:xs:me-4 before:h-[2px] before:xs:w-16 before:w-12 before:bg-foreground/40
    after:mask-luminance after:mask-r-from-foreground after:mask-r-from-50% after:mask-r-to-background
    after:h-[2px] after:ms-2 after:xs:ms-4 after:xs:w-16 after:w-12 after:bg-foreground/40;
  }
  .bg-skew {
    @apply relative after:-skew-4 after:content-[''] after:size-full after:absolute after:-z-10 after:right-0 after:bottom-0;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-foreground/20 rounded-lg
  }

  body::-webkit-scrollbar {
    background: transparent;
    width: 7px;
  }

  body::-webkit-scrollbar-track {
    background-color: transparent;
  }


  .custom-scroll::-webkit-scrollbar-thumb {
    @apply bg-transparent
  }

  .custom-scroll::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .custom-scroll:hover::-webkit-scrollbar-thumb {
    @apply bg-foreground/5 rounded-2xl
  }
}

@layer utilities {

  /*? FLEX-BOX HELPER UTİLİTY CLASSES  */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .flex-end {
    @apply flex justify-end items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-around {
    @apply flex justify-around items-center;
  }

  .col-center {
    @apply flex flex-col items-center;
  }

  .col-start {
    @apply flex flex-col items-start;
  }

  .col-end {
    @apply flex flex-col items-end;
  }

  .row-center {
    @apply flex flex-row items-center;
  }

  /*? POSİTİON HELPER UTİLİTY CLASSES  */
  .position-top {
    @apply top-0 left-0 right-0;
  }

  .position-bottom {
    @apply bottom-0 left-0 right-0;
  }

  /*? TEXT GRADİENT HELPER UTİLİTY CLASSES  */
  .text-gradient-b {
    @apply bg-gradient-to-b text-transparent bg-clip-text;
  }

  .text-gradient-r {
    @apply bg-gradient-to-r text-transparent bg-clip-text;
  }

  .text-gradient-br {
    @apply bg-gradient-to-br text-transparent bg-clip-text;
  }
}